html {
    font-family: 'Segoe UI', sans-serif;
    /*Font*/
    font-size: 16px;
    /*Font mérete (16px=12pt)*/
    line-height: 1.5;
    /*Sormagasság, 16px*1.5=24px, tipikus mostanában*/
    background: #1a231b;
    /*Sötét téma sötét háttérrel*/
    color: rgb(121, 237, 115);
    /*Sötét téma fehér betűkkel*/
}

html,
body,
div {
    margin: 0;
    /* CSS reset */
    padding: 20px 0 0 0;
    /* CSS reset */
    display: grid;
    /* grid-re állunk át mindenhol */
    grid: minmax(0, 1fr) / minmax(0, 1fr);
    /* Az egyetlen gyerek szülő méretű */
    align-items: start;
    /* top = start */
    justify-items: center;
    /* center = középre */
}

body {
    min-height: 100vh;
    /* ablak méretű */
    max-height: 100vh;
    /* ablak méretű */
    overflow: hidden;
}

input,
button,
a {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 0;
    /* ne legyen kerete a buttonnak és az inputnak */
    color: rgb(17, 65, 44);
}

input {
    padding: 8px 16px;
    background: rgba(100, 253, 151, 0.434);
     border-radius: 7px;
     color: rgb(199, 255, 229);
    
}

input::placeholder {
    color: rgb(121, 190, 147);
    /* halványabb szín a placeholdernek */
}

button {
    padding: 8px 16px;
    /* Tágas */
    background: rgb(100, 253, 151);
    /* Sötét téma */
    font-weight: 600;
    /* Bold */
    border-radius: 7px;
    /* Lekerekített */
    box-shadow: 1px 2px 10px rgb(88, 213, 90);
    /* Árnyék */
    transition: all 145ms ease-out;

    /* Átmenet az árnyékra és színre, ami változik */
    &:hover {
        background: rgb(51, 255, 99);
        /* Megváltoztatja a színét, ha fölé visszük az egeret */
        box-shadow: 2px 5px 20px black;
        /* Nagyobb árnyék, ha kiemelkedik */
    }

    &:active {
        box-shadow: none;
        /* Lenyomva nincs árnyék */
        background: rgb(17, 187, 110);
        /* Megváltoztatja a színét, ha aktiváljuk (lenyomjuk) */
    }
}

a {
    text-decoration: none;
    /* Nincs aláhúzás */
    color: rgb(199, 255, 229);;
}

a:hover {
  text-shadow:
    0 0 5px rgb(34, 238, 143)
}